

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Digital Anvil</h1>
        <div class="row center">
          <h5 class="header col s12 light">Game reviews to help you play smarter</h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Log-in</a>
          <a href="/signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign-up</a>
          {{!-- <a href="/gamesMain" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Games Reviews</a> --}}
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="keyboard.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">sports_esports</i></h2>
            <h5 class="center"><a href="/gamesMain">Games</h5></a>

            <p class="light">Playstation, Xbox, Switch, PC, mobile and more.  From classics to new releases, you'll find them here.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">reviews</i></h2>
            <h5 class="center"><a href="/newReview">New Reviews</h5></a>

            <p class="light">Game over. Time to tell everyone what you thought! Write your reivew and let us know what your opinion is.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">rate_review</i></h2>
            <h5 class="center"><a href="/myReviews">User Reviews</h5></a>

            <p class="light">You played it, you reviewed it. A collection of all your reviews to be shared with the online commuinty.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Playstation, Switch, Xbox, and PC reviewed </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="controller2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Digital Anvil: The Mission</h4>
          <p class="left-align light">Digital Anvil's mission is to help consumers make an informed decision on how to spend their time and money on their videogame entertainment. Multiple opinions are better than one and user voices are just as important as professionals.  </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Reliable reviews by professionals and fans</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="vecteezy_gamepad-close-up_1970887.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>

          <p class="grey-text text-lighten-4">We are a team of UW full stack bootcamp students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>



        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team Members</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/DanPGolden">Dan Golden</a></li>
            <li><a class="white-text" href="https://github.com/Williamskj">Keyann Williams</a></li>
            <li><a class="white-text" href="https://github.com/joecliffordofficial">Joseph Clifford</a></li>
            <li><a class="white-text" href="https://github.com/StevenEi">Steven Eiselt</a></li>
            <li><a class="white-text" href="https://github.com/JefreyColegrove">Jefrey Colegrove</a></li>
          </ul>
        </div>
        
          

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  
