<p>login page information</p>

<p>Email</p>
<input id="email"></input>
<p>Name</p>
<input id="name"></input>
<p>Password</p>
<input id="password"></input>
<br>
<button id="login">Login!</button>

<h1>sign up here!!!</h1>
<p>Email</p>
<input id="email-signup"></input>
<p>Name</p>
<input id="name-signup"></input>
<p>Password</p>
<input id="password-signup"></input>
<br>
<button id="signup">sign up</button>